.vs
.vscode
bin
obj
*.user
*.pdb
*.dll
EFCoreFromExistingDB/.vs/EFCoreFromExistingDB/DesignTimeBuild/.dtbcache
EFCoreFromExistingDB/.vs/EFCoreFromExistingDB/DesignTimeBuild/.dtbcache
EFCoreFromExistingDB/.vs/EFCoreFromExistingDB/v16/.suo
